.contentContainer {
	width: 98%; margin: 0 0 20px 0; min-height: 300px; background-color: rgb(243, 243, 243); border: solid 1px #e7e7e7;padding: 10px; color: #777;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}

#content {
	width: 100%;
	min-height: 200px;
	max-height: 900px;

}

.message-item {
	margin-top: 10px;
}

.message-item.message-item-left {
	margin-bottom: 10px;
    position: relative;
}

.message-avatar {
	float: left;
}

.message-avatar .avatar-icon {
	width: 40px; 
	height: 40px; 
	border: 1px solid #e4e4e4; 
	background-image:url(../img/user-avatar.png);
	background-size: 40px;
}

.message-item.message-item-left .message-avatar .avatar-name {
	font-size: 13px;
    text-align: center;
	color: #3AAFCC;
	font-weight: bold;
}

.message-item.message-item-right .message-avatar .avatar-name {
    font-size: 13px;
    text-align: center;
	font-weight: bold;
	color: rgb(247, 137, 137);
}	

.message-item .user-message-container {
	position: relative;
	float: left;
	padding: 5px; 
	min-height: 40px;
	width: 83%;
	border-radius: 5px;

}

.message-item.message-item-left .user-message-container {
	background: rgba(218, 235, 243, 0.81);
	margin-left: 10px;
}

.message-item.message-item-right .user-message-container {
	background: rgba(243, 226, 218, 0.81);
	margin-right: 10px;
}

.message-item.message-item-left .user-message-container .user-message-arrow {
	position: absolute;     
	left: -7px;
	/* background: #686666; */
	width: 0;    
	height: 0;    
	border-top: 8px solid transparent;   
	border-bottom: 8px solid transparent;       
	border-right: 8px solid rgba(218, 235, 243, 0.81);
	top: 10px;
}

.message-item.message-item-right .user-message-container .user-message-arrow {
	position: absolute;     
	right: -7px;/* background: #686666; */
	width: 0;    
	height: 0;    
	border-top: 8px solid transparent;   
	border-bottom: 8px solid transparent;       
	border-left: 8px solid rgba(243, 226, 218, 0.81);
	top: 10px;
}
.message-item.message-item-left .user-message-container .user-message {
	
    color: #82A2B8;
    font-size: 14px;
}

.message-item.message-item-right .user-message-container .user-message {
	color: #B88F82;
    font-size: 14px;
}

input[disabled] {
	background: none;
	cursor: auto;
}

.tab > div {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.tab > div.selected {
	background: #B9B9B9;
	color: #eee;
	border-right: 3px solid #333;
}

.tab > div.selected > a {
	   color: #fff;
}

.tab > div > a {
    text-decoration: none;
    color: #555;
    font-size: 13px;
    font-weight: bold;
}
.tab > div:hover {
    border-right: 3px solid #38ABD8;
    background-color: rgba(56, 171, 216, 0.09);
    cursor: pointer;
}

.tab > div:hover > a {
	color: #555;
}